--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118
aim
autorootcwd
dvc
dvc[s3]
dvc_gdrive
fire
hydra-colorlog
hydra-core
hydra-optuna-sweeper
ipykernel
ipywidgets

# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
# torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116

lightning>=2.0.8
matplotlib
mlflow
opencv-contrib-python
pandas
Pillow
pre-commit
pyarrow
pydantic<2.0,>=1.7.4
pyrootutils
pytest
rasterio
rich
rootutils
sh
shapely
SQLAlchemy
tensorboard
tensorboardX
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchtext
torchvision==0.16.0+cu118
wandb
