# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu118
# torch==2.1.1+cu118
# torchvision==0.16.1+cu118
# torchaudio==2.1.1+cu118
# torchtext

# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
# torchaudio==0.12.1
# # If you are running on torch1.12, you need to install Pillow==9.5.0
# Pillow==9.5.0
# torchtext

# #### Machine Learning Related ####
# lightning
# mlflow
# pydantic
# SQLAlchemy
# aim<4.0.0
# rich
# hydra-core
# hydra-colorlog
# hydra-optuna-sweeper
# opencv-contrib-python
# matplotlib
# rasterio
# Pillow
# pyrootutils
# shapely
# rootutils
# tensorboard
# tensorboardX
# wandb
# autoroot
# autorootcwd
# orjsonl
# pandas
# pyarrow
# fastparquet
# sentencepiece
# transformers

# #### Data Storage Related ####
# dvc
# dvc[s3]
# dvc_gdrive

# #### Development Related ####
# ipykernel
# ipywidgets
pre-commit
pytest
sh

# #### Machine Learning UI Related ####
# gradio
# fastapi
